<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat Node.JS</title>
    <link rel="stylesheet" href="./styles/style.css"/>
  </head>
<body>

<% include header.ejs %>

<div>
<h2>Pseudo :</h1><h3><%= pseudo %></h3>
</div>

<% include footer.ejs %>

</div>

</body>
</html>
